*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
}
body{
    background-color: #a9a9a92b;
}

/* Display - grid */
:is(#app) {
    display: grid;
}

/* Display - flex */

/* APP */
#app {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h3{
    font-weight: bold;
    font-size: 60px;
    color: #445216; /* Dark teal blue */
    text-shadow: black; /* Matching shadow for consistency */
}
